
*.pdf
*.rds

*/out
!/out/README

05_run_cellranger/out_v9
05_run_cellranger/out_v8

*/script/*.err
*/script/*.log

07_seurat_QC/plot_v8/
07_seurat_QC/plot/
05_run_cellranger/web_summaries/

11_ADT_demultiplex/plot/*/individual_cell_annotation

14_seurat_integration/*
!14_seurat_integration/script



.DS_Store
.Rproj.user
.Rhistory
