
*.pdf
*.rds

*/out
!/out/README

05_run_cellranger/out_v9
05_run_cellranger/out_v8
*/script/*.err
*/script/*.log

10_ADT_demultiplex/plot/*/individual_cell_annotation

14_seurat_integration/*
!14_seurat_integration/script



.DS_Store
.Rproj.user
.Rhistory
