
*.pdf
*.rds

*/out
!/out/README
*/table
!20_VDJ/table

00_data/Human_sequences.fasta

05_run_cellranger/out_v9
05_run_cellranger/out_v8
05_run_cellranger/airr_files/

*/script/*.err
*/script/*.log

07_seurat_QC/plot_v8/
07_seurat_QC/plot/
05_run_cellranger/web_summaries/

11_ADT_demultiplex/plot/*/individual_cell_annotation

14_seurat_integration/*
!14_seurat_integration/script

20_VDJ/plot
!20_VDJ/plot/BCR_06_GermlineSequence
20_VDJ/fasta

50_MiXCR/mixcr_output/
tmp

.DS_Store
.Rproj.user
.Rhistory
